{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Clientes</h1>
    

    <table class="tabela">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Cidade</th>
            </tr>

        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td><a href="{% url 'detalhe_cliente' cliente.id%}">{{ cliente.nome }}</td>
                <td>{{ cliente.sobrenome }}</td>
                <td>{{ cliente.cidade }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</body>
</html>
